
a{
    color:black;
  }
  
  header {
    padding-left: 20px;
    background-color: #ff99ff;
  }
  
  .myName {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
a{
    color:black;
}

.page-container {
background-color: rgb(241, 221, 239);
}

.port-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left: 270px;
    margin-right: 270px;
}

img:hover{
    opacity:2;
} 

h1{
    padding-top: 100px;
}

.portfolio-project img {
    height: 220px;
    width: 450px;
}

 .portfolio-project {
    border-radius: 20px;
    height: 220px;
    width: 450px;
    }
    

.portfolio-project:first-child img{
    flex-grow: 2;
    width:100%;
    margin-bottom:10px; 
} 

#project2,
#project4 {
    margin-bottom: 10px;
    margin-right: 8px;
} 

#about,
#worknav,
#contactme,
#resume {
    background-color:transparent;
    color: black;
    margin: 10px;
    font-size: 20px;

}

#imageoverlay{
    position:absolute;
    background-color:#ff99ff;
}

.contact-me h2 {
    margin-top: 25px;
}

.contactme-container{
    margin-top: 20px;
}
.col{
    text-align: center;
margin-bottom: 20px;;
}